<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Home</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
    	<div class="col-xs-12">
    		{{tasks}}
    	</div>
    </div>
    
</div>
