
<div class="sidebar-nav navbar-collapse">
    <div class="navbar navbar-default sidebar" role="navigation">
        <ul class="nav in" id="side-menu">
            
           <li ui-sref-active="active">
                <a ui-sref="app.home"><i class="fa fa-home fa-2x"></i> <span class="nav-first-level"><b>Home</b></span></a>
            </li>
            
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



